.bae-month-indicator {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  h4 {
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
}
